<section class="mbr-section mbr-section-hero mbr-section-full" id="adventure-show-page">
        <div class="adventure-container">
            <div class="adventure-content">
                <div class="ad-1">
                    <p>This is item 1</p>
                </div>
                <div class="ad-2">
                   <p>This is item 2</p>
                </div>
                <div class="ad-3">
                    <p>This is item 3</p>
                </div>
            </div>
        </div>
    </section>
    