#adventure-show-page { 
    background-image: url('http://images.ctfassets.net/lufu0clouua1/4vlUi1LZRCc42UygYWQMei/b35f18e851bfb9f20aca2869adfbeaa6/WEB__gourmet-cookies-beauty.jpg'); 
}

.adventure-container { 
    display: flex; 
    justify-content: right;
    position: relative; 
    width: 100%;
}

.adventure-content { 
    display: flex;  
    position: relative; 
    margin-top: 100px; 
}

.adventure-content h1 { 
    margin-top:50px; 
}

.ad-1 { 
    text-align: center; 
    width: 475px;
    height: 800px;
    background-color: rgba(245, 245, 245, .9); 
    margin-right: 50px; 
    margin-left: 75px; 
}

.workout-photo { 
    width: 300px;
    margin-left: 90px;
}

.ad-2 { 
    text-align: center; 
    width: 475px;
    height: 800px;
    background-color: rgba(245, 245, 245, .9); 
    margin-right:50px; 
}

.shopping-photo { 
    width: 250px; 
    margin-left: 110px; 
    margin-top: 20px; 
}

.ad-3 { 
    text-align: center; 
    width: 475px;
    height: 800px;
    background-color: rgba(245, 245, 245, .9); 
}

.food-photo { 
    width: 210px; 
    margin-left: 140px; 
    margin-top: 20px; 
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.activity-buttons { 
    margin-top: 75px; 
}

.activity-buttons p { 
    margin-bottom: 60px; 
}