#adventure-show-page { 
    background-image: url('http://images.ctfassets.net/lufu0clouua1/4vlUi1LZRCc42UygYWQMei/b35f18e851bfb9f20aca2869adfbeaa6/WEB__gourmet-cookies-beauty.jpg'); 
}

.adventure-container { 
    display: flex; 
    justify-content: right;
    position: relative; 
    width: 100%;
}

.adventure-content { 
    display: flex;  
    position: relative; 
    margin-top: 100px; 
}

.ad-1 { 
    text-align: center; 
    vertical-align: center; 
    width: 475px;
    height: 800px;
    background-color: rgba(245, 245, 245, .9); 
    margin-right: 50px; 
    margin-left: 75px; 
}

.ad-1 h1 { 
    margin-top:100px; 
}

.ad-2 { 
    text-align: center; 
    width: 475px;
    height: 800px;
    background-color: rgba(245, 245, 245, .9); 
    margin-right:50px; 
}

.ad-3 { 
    text-align: center; 
    width: 475px;
    height: 800px;
    background-color: rgba(245, 245, 245, .9); 
}