
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/chocolate-chip-cookie (1).jpg");
}


.form-container {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 50px 75px;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.85);
}

.form-container input[type="submit"] {
    margin: 30px 0
}

#create-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/chocolate-chip-cookie (1).jpg");
}


.create-container {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 50px 75px;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.85);
}



.create-container input[type="submit"] {
    margin: 30px 0
}
