.cookie-monster-float { 
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.mbr-section-text{ 
    font-size: 35px; 
    font-family: 'Caveat', cursive;
    text-align: center; 
}

.mbr-section-title { 
    margin-top: 60px; 
    text-align: center; 
}

.mbr-section-btn { 
    margin-top: 20px; 
    text-align: center; 
}