<!-- Seed the sub activities, not the categories. Display pictures of activity categories, with usable activities 
underneath in a dropdown or collection_select. Seed activities: Active:--Go to the gym, Go dancing, Go on a hike-- 
Shopping:--Abercrombie, Hot Topic, H&M--  Conversation: --coffee, take a walk, food/bar--  
Entertainment:-- video games, see a movie, see a concert-- 
organizing the collection select: In the schema we have activity names and activity types. We can add an activity "value" 
to correspond with friend preferences. activity type can be the activity category, and name can be specific -->


<h1> Adventures! </h1>

<!-- <%= f.collection_select(:power_id, Power.all, :id, :name) %><br> -->